<phpunit
    bootstrap="./vendor/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="true"
    stopOnFailure="false"
    processIsolation="false"
    backupGlobals="false"
    syntaxCheck="true"
>
    <testsuite>
        <testsuite name="main">
            <directory>app/tests
            </directory>
        </testsuite>
    </testsuite>
</phpunit>
